
@media (min-width: 1025px) {
    body {
      display: flex;
      place-items: center;
    }
    #header nav {
        width: 67%;
    }
    #header input{
        width:25%
    }
}

@media (max-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
    #header nav {
        width: 77%;
    }
    #header input{
        width:15%
    }
    #header #logo-login {
        width:5%;
        margin:3px 0 3px 1%;
    }
}